<div *ngIf="!hero || !hero.weapons">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="hero && hero.weapons">

  <h2>{{ hero.name | uppercase }} Details</h2>
  <form (ngSubmit)="save()" #heroForm="ngForm">
    <fieldset>
      <legend>Identity</legend>
      <div><span>id: </span>{{hero.id}}</div>
      <div>
        <label>name:
          <mat-form-field>
            <input matInput [(ngModel)]="hero.name" type="text" name="name" required>
          </mat-form-field>
        </label>
      </div>
      <div>
        <label class="weapons">weapons:
        <mat-form-field>
          <mat-select [compareWith]="compareFn" [(ngModel)]="hero.weapons" name="weapons" [(value)]="hero.weapons" multiple>
            <mat-option *ngFor="let weapon of weapons" [value]="weapon">{{weapon.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        </label>
        <ul class="weapons" *ngIf="hero.weapons && hero.weapons.length>0">
          <li class="weapon" *ngFor="let weapon of hero.weapons">
            <span><a routerLink="/detail/weapon/{{weapon.id}}">{{weapon.name}}</a></span>
          </li>
        </ul>
      </div>
    </fieldset>
    <fieldset>
      <legend>Characteristics</legend>
      <div class="characteristics">
        <div class="characteristic">
          <label>attack:
            <mat-progress-bar class="skill" mode="determinate" value="{{attackBar}}" aria-label></mat-progress-bar>
            <mat-form-field>
              <input matInput (ngModelChange)="updateForm()" [(ngModel)]="hero.attack" type="number" name="attack" min="{{minPoints}}" max="{{maxPoints}}" placeholder="attack" required #attack="ngModel">
            </mat-form-field>
            <mat-chip-list *ngIf="hero.bonusAttack>=0">
              <mat-chip color="accent" selected="true">+{{hero.bonusAttack}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="hero.bonusAttack<0">
              <mat-chip color="warn" selected="true">{{hero.bonusAttack}}</mat-chip>
            </mat-chip-list>

          </label>
          <div [hidden]="attack.valid || attack.pristine">
            Attack is required
          </div>
        </div>
        <div class="characteristic">
          <label>dodge:
            <mat-progress-bar class="skill" mode="determinate" value="{{dodgeBar}}"></mat-progress-bar>
            <mat-form-field><input matInput (ngModelChange)="updateForm()" [(ngModel)]="hero.dodge" type="number" name="dodge" min="{{minPoints}}" max="{{maxPoints}}" placeholder="dodge"></mat-form-field>
            <mat-chip-list *ngIf="hero.bonusDodge>=0">
              <mat-chip color="accent" selected="true">+{{hero.bonusDodge}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="hero.bonusDodge<0">
              <mat-chip color="warn" selected="true">{{hero.bonusDodge}}</mat-chip>
            </mat-chip-list>
          </label>
        </div>
        <div class="characteristic">
          <label>damage:
            <mat-progress-bar class="skill" mode="determinate" value="{{damageBar}}"></mat-progress-bar>
            <mat-form-field><input matInput (ngModelChange)="updateForm()" [(ngModel)]="hero.damage" type="number" name="damage" min="{{minPoints}}" max="{{maxPoints}}" placeholder="damage"></mat-form-field>
            <mat-chip-list *ngIf="hero.bonusDamage>=0">
              <mat-chip color="accent" selected="true">+{{hero.bonusDamage}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="hero.bonusDamage<0">
              <mat-chip color="warn" selected="true">{{hero.bonusDamage}}</mat-chip>
            </mat-chip-list>
          </label>
        </div>
        <div class="characteristic">
          <label>health points:
            <mat-progress-bar class="skill" mode="determinate" value="{{hpBar}}"></mat-progress-bar>
            <mat-form-field><input matInput (ngModelChange)="updateForm()" [(ngModel)]="hero.hp" type="number" name="hp" min="{{minPoints}}" max="{{maxPoints}}" placeholder="health points"></mat-form-field>
            <mat-chip-list *ngIf="hero.bonusHp>=0">
              <mat-chip color="accent" selected="true">+{{hero.bonusHp}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="hero.bonusHp<0">
              <mat-chip color="warn" selected="true">{{hero.bonusHp}}</mat-chip>
            </mat-chip-list>
          </label>
        </div>
        <p>Remaining Points : {{remainingPoints}}</p>
      </div>
    </fieldset>
    <button type="submit" [disabled]="!heroForm.form.valid || remainingPoints<0">Save</button>

  </form>
  <button (click)="goBack()">go back</button>

</div>
